body {
  background-color: #2c2a2a;
}

.rainbow {
  width: 450px;
  /* border: 1px solid red; */
  margin: 10% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100px; */
  border-radius: 10rem;
  box-shadow: 0 .1rem .3rem #6d6d6d;
}

h1 {
  font-size: 3.5rem;
  /* color: #fff; */
  display: inline-block;
  font-family: 'Monotype Corsiva';
  text-transform: uppercase;
  transition: all .4s ease-in-out;
  /* animation: color 30s infinite alternate forwards; */
  -webkit-animation: color 30s infinite alternate forwards;
}

@keyframes color {
  0% {
    color: #0c1662;
  }
  5% {
    color: #fda870;
  }
  10% {
    color: #f829ff;
  }
  15% {
    color: #dafa5c;
  }
  20% {
    color: #11aca4;
  }
  25% {
    color: #4ce64c;
  }
  30% {
    color: #99ffc2;
  }
  35% {
    color: #53f0d0;
  }
  40% {
    color: #ff9d90;
  }
  45% {
    color: #ee68e7;
  }
  50% {
    color: #9999ff;
  }
  55% {
    color: #c299ff;
  }
  60% {
    color: #97f7fa;
  }
  65% {
    color: #ff9999;
  }
  70% {
    color: #ff8b48;
  }
  75% {
    color: #5cd668;
  }
  80% {
    color: #5cd668;
  }
  85% {
    color: #5e5cd6;
  }
  90% {
    color: #d65c78;
  }
  95% {
    color: #c25cd6;
  }
  100% {
    color: #5cb6d6;
  }
}

h1:nth-of-type(1) {
  animation-delay: -19.8s;
}

h1:nth-of-type(2) {
  animation-delay: -19.6s;
}

h1:nth-of-type(3) {
  animation-delay: -19.4s;
}